body{
    background: url(../images/HPwallpaper.jpg);
	font-size: 25px;
	font-family: 'Vidaloka', serif;;
}

header{
	margin-bottom: 40px;
	background-color: #FCAE42;
	padding: 30px;
	width: 100%;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	
}

/* need space for gif */
#gif{
	margin: 30px;
}	

#currentQuestion {
	font-size: 30px;
	text-decoration: underline;
}

#question{
	font-size: 35px;
	font-style: bold;
}

.btn-primary,.reset{
	background-color: white;
	color: black;
	border-style: solid, 5px, black;
	font-size: 20px;
	padding: 20px;
	margin-top: 20px;
	width: auto;
}

.btn-primary:hover, .reset:hover{
    background-color: #FCAE42;
}

.container{

	padding-top: 20px;
	text-align: center;
	height: 100%;
	width: 75%;
	background-color: white;
	
}

.thisChoice:hover{
    background-color: green;
    /* temporary green */
	color: white;
	padding: 10px;
}

h3{
	color: green;
}
